.pop {
    position:fixed;
    width:100%;
    display: flex;
    .pop__content {
        position: relative;
        padding: 10px;
    }

    p {
        font-size:26px;

    }
    .quote__highlight {
        display: inline-block;
        font-weight: 700;
        padding:2px 10px;
        //animation: blink-animation 0.5s steps(5, start) infinite;
        //-webkit-animation: blink-animation 0.5s steps(5, start) infinite;
    }
    &--down {
        bottom: -400px;
        transition: bottom 2s ease;

        &.roll {
            bottom: 0;
        }
        &.unroll {
            bottom: -400px;
        }
    }

    &--up {
        top: -400px;
        transition: top 2s ease;

        &.roll {
            top: 0;
        }
        &.unroll {
            top: -400px;
        }
    }

}
/*
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.blink-color {
    animation: blinkingColor 1.2s infinite;
}
@keyframes blinkingGreen{
    0%{     background: #000;    }
    49%{    background: #333; }
    60%{    background: #000; }
    99%{    background: #333;  }
    100%{   background: #000;    }
}

@keyframes blinkingBlue{
    0%{     background: #000;    }
    49%{    background: #001534; }
    60%{    background: #000; }
    99%{    background: #001534;  }
    100%{   background: #000;    }
}*/

.color-blend {
    background: aqua !important;
}

.jump {
}

.pop__content {
    //overflow: hidden;
    width: auto;
        color: white;

    white-space: nowrap;
    animation: runningLeft 20s linear infinite;
    //border: 1px solid white;
}

.pop__quote {
    display: inline-block;
    padding: 7px;
    border: 1px solid white;

}
.pop__author {
    display: inline-block;
    //color: white;
    padding: 7px;
    border: 1px solid white;
    margin-left: 1rem;
}

@keyframes runningLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}

// styles

.style-dark {
    background: #000;
    color: #fff;
    font-weight: 700;
    padding:5px;
}

.style-light {
    background: #fff0d9; //#f5d7a6
    font-weight: 700;
    border: 3px solid #323232;
    .close--popup:before, .close--popup:after {
        background: #000;
    }
    .pop__content {
        border: 1px solid #000;
                color: #000;

    }
    .pop__quote, .pop__author {
    }
    .quote__highlight {
        background: #ff0048;
    }
}
.style-light:hover {
    border: 3px solid #ff0048;
}

.style-grey {
    background: #323232;
    color: #f5f2d3;
    font-weight: 700;
    border: 3px solid #f5f2d3;
    //animation: blinkingGreen 1.2s infinite;
    .quote__highlight {
        background:#f5f2d3;
        color:#ff0048;
    }
}

.style-blue {
    background: #001A3F;
    color: #f5f2d3;
    font-weight: 700;
    border: 3px solid #000;
    //animation: blinkingBlue 1.2s infinite;
    .quote__highlight {
        background:#fff;
        color:#001A3F;
    }
}
.style-blue:hover {
    border: 3px solid #ff0000;
}

.style-black {
    background: #000;
    color: #fff;
    font-weight: 700;
    border: 3px solid #fff;
    .quote__highlight {
        background:#ff0048;
    }
}
.style-black:hover {
    border: 3px solid #ff0048;
}
// #224698 #fba888 #0091ff #70031f #ff0048 #fcd000 #f5f2d3 #013d12 #ff0048 #0091ff #f5d7a6 #fba888 #e89805 #de0dad #223522


