html, body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden; // kvoli particles + blinking??
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    line-height: 1.5;
}
.background {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.background__shape {
    margin:50px;
    height:250px;
    width:400px;
    background: #dddddd;
    position: absolute;
    animation: MotionScale 10s linear alternate infinite;
}

@keyframes MotionScale {
  from {
    transform: matrix3d(
      1,0,0,1,
      0,1,1,0,
      0,0,1,1,
      -50,-100,0,1.1
    );

  }
  50% {
    transform: matrix3d(
      1,0,0,0,
      0,1,1,1,
      0,0,1,0,
      0,0,0,0.9
    );
  }
  to {
     transform: matrix3d(
      1,0,0,0,
      0,1,0,1,
      0,1,1,1,
      50,100,0,1.1
    )
  }
}
.content {
    width: 70%;
    height:100%;
    position:relative;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: url('app/img/klik-cross.png'), auto;

}

.snippet__text *, .text__preview * {
    word-wrap: break-word;
}
.wrapper {
        position: relative;
    .wrapper__menu {
        height: 100px;
        margin-bottom: 25px;
        background: #fff;
        border: 1px solid #000;
        color: #000;
        position: absolute;
        width: 100%;
        padding: 25px 0;
        bottom: 200px;
        .custom__controls {
            display: flex;
            div {
              padding: 0 10px;
            }
        }
        &.roll {
            transition: bottom 2s ease-out;
            bottom: 340px;
        }
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu__title {
            margin-right: 1rem;
        }
        .menu__subtitle {
            border: 1px solid #000;
            padding: 5px 8px;
        }
    }
    .menu.menu__custom, .text.text__custom {
        display: none;
    }
    .wrapper__custom .close {

    }
}
    #text-input {
        background: transparent;
        border:none;
        width: 100%;
        color:#fff;
        font-size: 28px;
    }
    .wrapper__buttons {
        display: flex;
        justify-content: center;
    }
    .button {
        text-align: center;
        margin: 10px;
    }
    .button__text {
        display:inline-block;
        font-size: 18px;
        margin:20px auto;
        padding:10px 15px;
        color:#000;
        //background:pink;
        background:#fff;
      border: 1px solid #000;
        cursor: pointer;
    }
    .button.generate {
        display: none;
    }
    .button.start {
        display: none;
    }
    .wrapper__text {
        background:#000;
        color:#fff;
        position: relative;
        font-size: 24px;
        padding:70px;
        min-height: 80px;
        border:5px solid #000;
        display: block;
        height: 250px;
        opacity: 0.85;
    }
    .text__preview {
        display: none; //
    }
    .text__set {
        display: none;
    }
    .snippet {
        display: none;
        color:white;
      justify-content: center;
      align-items: center;
      height: 100%;
/*        .snippet__text {
            padding: 0 6rem;
          font-size: 14px;
        }*/
    }
    .snippet__copy {
        border: 1px solid #fff;
        padding:5px 10px;
        //display: inline-block;
        //position: absolute;
        //right: 0;
        //bottom: 0;
        color: #333;
        cursor: pointer;
        position: relative;
        border: 1px solid #000;
        &.show:before {
            color: #333;
            content: 'copied to clipboard';
            font-size: 11px;
            white-space: nowrap;
            position: absolute;
            left:0;
            top:-15px;
        }
    }

    .close {
        position: absolute;
        height: 60px;
        width: 60px;
        &--right {
            right:20px;
            top:20px;
        }
        &--left {
            top:20px;
            left:20px;
            z-index: 10;
        }
        &--popup {
            right:10px;
            top:10px;
            transform: rotateZ(0);
          &.turn {
            transition: transform 1.5s linear;
            transform: rotateZ(360deg);
          }
        }
        &--menu {
          transform: rotateZ(0);
          &.turn {
            transition: transform 1.5s linear;
            transform: rotateZ(360deg);
          }
        }
        &--inner {
            right: -90px;
        }

    }
    .close:before, .close:after {
        transform: rotate(-45deg);
        position: absolute;
        left: 34px;
        content: ' ';
        height: 60px;
        width: 1px;
        background-color: #fff;
    }
    .close:before {
        transform: rotate(-45deg);
    }
    .close:after {
        transform: rotate(45deg);
    }

    .wrapper__menu.roll .close--left.close:before,
    .wrapper__menu.roll .close--left.close:after {
       background-color: #000
    }


.wrapper.custom {
  .menu.menu__main, .text.text__main {
    display: none;
  }
  .menu.menu__custom, .text.text__custom {
    display: flex;
    height: 100%;
  }
  .button.change {
    display: none;
  }
  .button.getcustom {
    display: none;
  }
  .button.getset {
    display: none;
  }
  .button.generate {
    display: block;
  }
}
.wrapper.result {
    .text__preview {
        display: block;
    }
    .menu.menu__custom {
        display: none;
    }
    .wrapper__menu {
      padding: 10px 0;
    }
    .wrapper__menu .menu__form {
        display: none;
    }
    .text.text__custom {
        display: none;
    }
    .menu.menu__main, .text.text__main {
        display: none;
    }
    .snippet {
        //display: block;
        display: flex;
    }
    .button.getset,
    .button.getcustom,
    .button.change {
        display: none;
    }
    .button.start {
        display: block;
    }
}
.wrapper.set {
    .text.text__main {
        display: none;
    }
    .text__set {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      .set__html, .set__css, .set__js {
        line-height: 35px;
        padding: 5px;
        border: 1px solid #fff;
        cursor: pointer;
        position: relative;
        &.show:before {
          color: #fff;
          content: 'copied to clipboard';
          position: absolute;
          left:0;
          top:-30px;
          font-size: 11px;
          white-space: nowrap;
        }
      }
      .set__info {
        line-height: 35px;
      }

    }
    .button.getset,
    .button.getcustom,
    .button.change {
        display: none;
    }
    .button.start {
        display: block;
    }
}
.background__particles {
    width: 900px;
    height: 500px;
    position: absolute;
    z-index: -3;
    transform: translateZ(-550px);

}

.background__particles-mobile {
  display: none;
}
.mobile__detect {
    display: none;
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {
  .mobile__detect {
      display: block;
  }
  .background__particles--mobile {
    display: block;
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -3;
  }
  .background__particles {
    display: none;
  }
  .content {
    width: 90%;
    height: 100vh;
  }
  .wrapper {
    height: 100%;

    .wrapper__text {
      margin-top: 250px;
      padding: 10px;
      .text__main {
        padding-right: 65px;
      }
      .text__set {
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        .set__html, .set__css, .set__js {
          width: 31%;
        }
        .set__info {
          width: 100%;
          padding-right: 65px;
        }
      }
    }
    .wrapper__menu {
      bottom: 40%;
      padding: 5px 5px 5px 100px;
      &.roll {
        bottom: 65%;
      }
      .menu__main {
        flex-direction: column;
      }
      .menu__custom {
        height: 100%;
      }
      .custom__controls {
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .wrapper__buttons {
      align-items: center;
      a {
         font-size: 14px;
      }

    }
  }
}
@mixin stylingParticles ($total, $base-hue, $orb-size, $particle-size, $time) {
  /* animation by @natewiley */
  .wrap {
    position: relative;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate $time infinite linear; // rotate orb
  }
  @keyframes rotate {
    100% {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }
  .c {
    position: absolute;
    width: $particle-size;
    height: $particle-size;
    opacity: 0;
  }
  .c:before, .c:after {
      transform: rotate(-45deg);
      position: absolute;
      left: 24px;
      content: ' ';
      height: 50px;
      width: 1px;
      background-color: #fff;
  }
  .c:before { transform: rotate(-45deg); }
  .c:after { transform: rotate(45deg); }


  @for $i from 1 through $total {
    $z: (random(360) * 1deg); // random angle to rotateZ
    $y: (random(360) * 1deg); // random to rotateX
    .c:nth-child(#{$i}){ // grab the nth particle
      animation: orbit#{$i} $time infinite;
      animation-delay: ($i * .01s);
      background-color: hsla(0, 0%, 0%, 1);
    }

    @keyframes orbit#{$i}{
      5% {
        opacity: 1;
      }
      30% {
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
      }
      80% {
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
        opacity: 1; // hold opacity 20-80
      }
      100% {
         transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3
      }
    }
  }
}
@media screen and (max-width: 768px) {
    @include stylingParticles($total: 70, $base-hue: 180, $orb-size: 200px, $particle-size: 70px, $time: 9s);
}
@media screen and (min-width: 769px) {
    @include stylingParticles($total: 200, $base-hue: 180, $orb-size: 200px, $particle-size: 70px, $time: 9s);
}
/* animation by @natewiley */


