.background__particles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
  transform: translateZ(-550px); }

.wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1000px; }

.c {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: pink;
  transform: rotate(0); }

.c.flip {
  transform: rotate(-45deg); }

.c:before, .c:after {
  position: absolute;
  left: 24px;
  content: ' ';
  height: 50px;
  width: 50px;
  background-color: red; }

.c:before {
  transform: rotate(-45deg); }

.c:after {
  transform: rotate(45deg); }

/*# sourceMappingURL=particles.css.map */
