/* insert in <style> tags in the <head> of your web or link externally */
.sv-pop {
    position:fixed;
    width:100%;
    display: flex;
}
.sv-pop__content {
    position: relative;
    padding: 10px;
}
.sv-pop__content p {
    font-size:26px;
}
.sv-quote__highlight {
    display: inline-block;
    font-weight: 700;
    padding:2px 10px;
    /*animation: blink-animation 0.5s steps(5, start) infinite;*/
    /*-webkit-animation: blink-animation 0.5s steps(5, start) infinite;*/
}
.sv-pop--down {
    bottom: -400px;
    transition: bottom 2s ease;
}
.sv-pop--down.roll {
    bottom: 0;
}
.sv-pop--down.unroll {
    bottom: -400px;
}
.sv-pop--up {
    top: -400px;
    transition: top 2s ease;
}
.sv-pop--up.roll {
    top: 0;
}
.sv-pop--up.unroll {
    top: -400px;
}
/*.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
    visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
    visibility: hidden;
    }
}
.blink-color {
    animation: blinkingColor 1.2s infinite;
}
@keyframes blinkingGreen{
    0%{     background: #000;    }
    49%{    background: #333; }
    60%{    background: #000; }
    99%{    background: #333;  }
    100%{   background: #000;    }
}
@keyframes blinkingBlue{
    0%{     background: #000;    }
    49%{    background: #001534; }
    60%{    background: #000; }
    99%{    background: #001534;  }
    100%{   background: #000;    }
}*/
.sv-pop__content {
    width: auto;
    color: white;
    white-space: nowrap;
    animation: runningLeft 20s linear infinite;
}
.sv-pop__quote {
    display: inline-block;
    padding: 7px;
    border: 1px solid white;
}
.sv-pop__author {
    display: inline-block;
    padding: 7px;
    border: 1px solid white;
    margin-left: 1rem;
}
@keyframes runningLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}
.style-dark {
    background: #000;
    color: #fff;
    font-weight: 700;
    padding:5px;
}
.style-dark .sv-quote__highlight {
    background: #fff;
    color:#000;
}
.style-light {
    background: #fff0d9;
    font-weight: 700;
    border: 3px solid #323232;
}
.style-light .sv-close--popup:before, .sv-close--popup:after {
    background: #000;
}
.style-light .sv-pop__content {
    border: 1px solid #000;
    color: #000;
}
.style-light .sv-quote__highlight {
    background: #ff0048;
}
.style-light .style-light:hover {
    border: 3px solid #ff0048;
}
.style-grey {
    background: #323232;
    color: #f5f2d3;
    font-weight: 700;
    border: 3px solid #f5f2d3;
    /*animation: blinkingGreen 1.2s infinite;*/
}
.style-grey .sv-quote__highlight {
    background:#f5f2d3;
    color:#ff0048;
}
.style-blue {
    background: #001A3F;
    color: #f5f2d3;
    font-weight: 700;
    border: 3px solid #000;
    /*animation: blinkingBlue 1.2s infinite;*/
}
.style-blue .sv-quote__highlight {
    background:#fff;
    color:#001A3F;
}
.style-blue:hover {
    border: 3px solid #ff0000;
}
.style-black {
    background: #000;
    color: #fff;
    font-weight: 700;
    border: 3px solid #fff;
}
.style-black .sv-quote__highlight {
    background:#ff0048;
}
.style-black:hover {
    border: 3px solid #ff0048;
}
