<!-- insert the whole popup code before closing </body> tag -->

<!--popup rolling from above-->
<div class="sv-pop sv-pop--up">
    <div class="sv-pop__content">
        <div class="sv-close sv-close--popup"></div>
        <p class="sv-pop__quote"></p>
        <p class="sv-pop__author"></p>
    </div>
    <div class="sv-close sv-close--popup"></div>
    <span style="font-size: 12px">goodreads.com</span>
</div>

<!--popup rolling from below-->
<div class="sv-pop sv-pop--down">
    <div class="sv-pop__content">
        <div class="sv-close sv-close--popup"></div>
        <p class="sv-pop__quote"></p>
        <p class="sv-pop__author"></p>
    </div>
    <div class="sv-close sv-close--popup"></div>
    <span style="font-size: 12px">goodreads.com</span>
</div>
