<style>
.sv-pop{background:#000000;border:3px solid #000000;color:#ffffff;}.sv-pop{position:fixed;width:100%;display:flex}.sv-pop__content{position:relative;padding:10px}.sv-pop__content p{font-size:26px}.sv-pop--down{bottom:-400px;transition:bottom 2s ease}.sv-pop--down.roll{bottom:0}.sv-pop--up{top:-400px;transition:top 2s ease}.sv-pop--up.roll{top:0}.sv-pop__content{width:auto;color:#fff;white-space:nowrap;animation:runningLeft 10s linear infinite}.sv-pop__quote{display:inline-block;padding:7px;border:1px solid #fff}.sv-pop__author{display:inline-block;padding:7px;border:1px solid #fff;margin-left:1rem}@keyframes runningLeft{from{transform:translateX(100%)}to{transform:translateX(-150%)}}.sv-close--popup{position:absolute;height:60px;width:60px;right:10px;top:10px;transform:rotateZ(0)}.sv-close:before,.sv-close:after{transform:rotate(-45deg);position:absolute;left:34px;content:' ';height:60px;width:1px;background-color:#fff}.sv-close:before{transform:rotate(-45deg)}.sv-close:after{transform:rotate(45deg)}
</style>
<div class="sv-pop sv-pop--down"><div class="sv-close sv-close--popup"></div><div class="sv-pop__content"><p class="sv-pop__quote">__sv-quote-content__</p><p class="sv-pop__author">ja</p></div></div>
<script>
    window.addEventListener("load",function(){var o=document.querySelector(".sv-pop.sv-pop--down"),e=document.querySelector(".sv-pop.sv-pop--down .sv-close--popup");o.classList.add("roll"),e.addEventListener("click",function(){o.classList.remove("roll"),setTimeout(function(){o.classList.add("roll")},2e3)})});
</script>
